### Zdjęcia z CoderDojo Gliwice #6
<figure class='third'>
  <a href='/assets/gallery/2019-05-14/01.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/01.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/02.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/02.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/03.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/03.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/04.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/04.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/05.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/05.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/06.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/06.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/07.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/07.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/08.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/08.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/09.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/09.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/10.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/10.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/11.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/11.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/12.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/12.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/13.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/13.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/14.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/14.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/15.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/15.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/16.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/16.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/17.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/17.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/18.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/18.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/19.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/19.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/20.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/20.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/21.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/21.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/22.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/22.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/23.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/23.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/24.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/24.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/25.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/25.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/26.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/26.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/27.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/27.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/28.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/28.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/29.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/29.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/30.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/30.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/31.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/31.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/32.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/32.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-05-14/33.jpg'
     title=''>
    <img src='/assets/gallery/2019-05-14/thumbs/33.jpg'
         loading=lazy
         alt=''>
  </a>

  <figcaption>
    Zajęcia z programowania dla dzieci - <strong>CoderDojo Gliwice</strong> z dnia 13-04-2019
  </figcaption>
</figure>
