### Zdjęcia z CoderDojo Gliwice #1
<figure class='third'>
  <a href='/assets/gallery/2018-12-07/01-rpg-maker-w-akcji.jpg'
     title='Ninja testuje swoją własną grę'>
    <img src='/assets/gallery/2018-12-07/thumbs/01-rpg-maker-w-akcji.jpg'
         loading=lazy
         alt='Tworzenie gry w RPG Maker'>
  </a>
  <a href='/assets/gallery/2018-12-07/02-nauka-o-falach-dzwiekowych.jpg'
     title='Mentor Alek tłumaczy działanie fal dźwiękowych'>
    <img src='/assets/gallery/2018-12-07/thumbs/02-nauka-o-falach-dzwiekowych.jpg'
         loading=lazy
         alt='Schemat działania fali dźwiękowej'>
  </a>
  <a href='/assets/gallery/2018-12-07/03-wprowadzenie-do-arduino.jpg'
     title='Arduino zrozumie każdy ninja'>
    <img src='/assets/gallery/2018-12-07/thumbs/03-wprowadzenie-do-arduino.jpg'
         loading=lazy
         alt='Rodzic pomagający ninja podłączyć płytkę Arduino'>
  </a>
  <a href='/assets/gallery/2018-12-07/04-podstawy-pythona.jpg'
     title='Pair programming w Pythonie, bo dzielenie się jest fajne'>
    <img src='/assets/gallery/2018-12-07/thumbs/04-podstawy-pythona.jpg'
         loading=lazy
         alt='Ninja programują w Pythonie na jednym komputerze'>
  </a>
  <a href='/assets/gallery/2018-12-07/05-analiza-danych-3d.jpg'
     title='Ulepszanie skanera 3D na konkurs Coolest Project'>
    <img src='/assets/gallery/2018-12-07/thumbs/05-analiza-danych-3d.jpg'
         loading=lazy
         alt='Analiza danych 3D w MeshLab'>
  </a>
  <a href='/assets/gallery/2018-12-07/06-grupa-mentora-darka.jpg'
     title='Grupa ninja wraz z mentorem Darkiem już myślą o kolejnym projekcie'>
    <img src='/assets/gallery/2018-12-07/thumbs/06-grupa-mentora-darka.jpg'
         loading=lazy
         alt='Mentor CoderDojo i 4 ninja'>
  </a>
  <a href='/assets/gallery/2018-12-07/07-przerabianie-nut-na-program.jpg'
     title='Czytanie Mazurka Dąbrowskiego z nut i zamienianie go na program w Ruby - poziom hard'>
    <img src='/assets/gallery/2018-12-07/thumbs/07-przerabianie-nut-na-program.jpg'
         loading=lazy
         alt='Mentor i ninja wytężają umysły'>
  </a>
  <a href='/assets/gallery/2018-12-07/08-arduino-i-diody.jpg'
     title='Programowanie płytek Arduino i świecenie diodą'>
    <img src='/assets/gallery/2018-12-07/thumbs/08-arduino-i-diody.jpg'
         loading=lazy
         alt='Świecąca dioda podpięta do płytki Arduino'>
  </a>
  <a href='/assets/gallery/2018-12-07/09-funkcje-trygonometryczne-w-pythonie.jpg'
     title='Rysowanie funkcji trygonometrycznych w Pythonie'>
    <img src='/assets/gallery/2018-12-07/thumbs/09-funkcje-trygonometryczne-w-pythonie.jpg'
         loading=lazy
         alt='Kod źródłowy w Pythonie i wykresy'>
  </a>
  <a href='/assets/gallery/2018-12-07/10-programowanie-w-c-sharp.jpg'
     title='Ninja pisze program konsolowy w języku C#'>
    <img src='/assets/gallery/2018-12-07/thumbs/10-programowanie-w-c-sharp.jpg'
         loading=lazy
         alt='Kod źródłowy programu w C#'>
  </a>
  <a href='/assets/gallery/2018-12-07/11-rozbudowa-plytki-arduino.jpg'
     title='Ninja będzie rozbudowywał swoją płytkę Arduino o nowe elementy'>
    <img src='/assets/gallery/2018-12-07/thumbs/11-rozbudowa-plytki-arduino.jpg'
         loading=lazy
         alt='Pudełko z elementami elektronicznymi'>
  </a>
  <a href='/assets/gallery/2018-12-07/12-programowanie-w-pythonie.jpg'
     title='Kod w Pythonie rysujący wykresy'>
    <img src='/assets/gallery/2018-12-07/thumbs/12-programowanie-w-pythonie.jpg'
         loading=lazy
         alt='IDE (środowisko programistyczne) z kodem w Pythonie'>
  </a>

  <figcaption>
    Zajęcia z programowania dla dzieci i młodzieży - <strong>CoderDojo Gliwice</strong> z dnia 17-11-2018
  </figcaption>
</figure>
