### Zdjęcia z CoderDojo Gliwice #7
<figure class='third'>
  <a href='/assets/gallery/2019-06-05/01.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/01.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/02.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/02.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/03.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/03.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/04.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/04.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/05.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/05.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/06.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/06.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/07.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/07.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/08.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/08.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/09.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/09.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/10.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/10.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/11.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/11.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/12.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/12.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/13.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/13.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/14.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/14.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/15.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/15.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/16.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/16.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/17.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/17.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/18.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/18.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/19.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/19.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/20.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/20.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/21.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/21.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/22.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/22.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/23.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/23.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/24.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/24.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/25.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/25.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/26.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/26.jpg'
         loading=lazy
         alt=''>
  </a>
  <a href='/assets/gallery/2019-06-05/27.jpg'
     title=''>
    <img src='/assets/gallery/2019-06-05/thumbs/27.jpg'
         loading=lazy
         alt=''>
  </a>

  <figcaption>
    Nauka programowania dzieci i młodzieży - <strong>CoderDojo Gliwice</strong> z dnia 18-05-2019
  </figcaption>
</figure>
