### Zdjęcia z CoderDojo Gliwice #4
<figure class='third'>
  <a href='/assets/gallery/2019-03-02/01.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/01.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/02.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/02.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/03.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/03.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/04.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/04.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/05.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/05.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/06.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/06.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/07.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/07.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/08.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/08.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/09.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/09.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/10.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/10.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/11.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/11.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/12.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/12.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/13.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/13.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/14.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/14.jpg'
         alt=''>
  </a>
  <a href='/assets/gallery/2019-03-02/15.jpg'
     title=''>
    <img src='/assets/gallery/2019-03-02/thumbs/15.jpg'
         alt=''>
  </a>

  <figcaption>
    Zajęcia z programowania dla dzieci - <strong>CoderDojo Gliwice</strong> z dnia 16-03-2019
  </figcaption>
</figure>
