<style type='text/css'>
.about .floated {
  float: left;
  padding-right: 32px;
}

@media (max-width: 576px) {
  .about .floated {
    padding-right: 0;
  }
}

.about h2 {
  font-weight: normal;
  margin-top: 0;
}
</style>

<div class='about'>
  <figure class='floated'>
    <img alt='Mentor Alek'
         class='lazy'
         data-src='/assets/rubycamp/images/rubycamp-mentor-torrocus.png'
    >
  </figure>
  <h2>Alek Małaszkiewicz</h2>
  <p class='text-justify'>
    Alek to programista samouk, pasjonat algorytmiki i nowych technologii.
    Swoją przygodę z programowaniem zaczął w szkole podstawowej,
    w czasach kiedy to jeszcze nie było modne.
    👶
    Nauczył się wtedy programować w Basicu i Pascalu.
    Później przyszła kolej na kilkanaście innych języków programowania.
  </p>
  <p class='text-justify'>
    Aktualnie zajmuje się tworzeniem aplikacji internetowych.
    Używa do tego języka Ruby, frameworku Ruby on Rails i wielu webowych technologii.
    Dzieli się swoją wiedzą, doświadczeniem i zamiłowaniem do programowania na różne sposoby.
    Od wielu lat organizuje oraz prowadzi
    <a href='https://fractalsoft.org/pl/spolecznosc/coderdojo'>zajęcia CoderDojo w Gliwicach</a>.
    Ponadto aktywnie wspiera
    <a href='https://fractalsoft.org/pl/spolecznosc/rails-girls'>warsztaty z programowania dla kobiet o nazwie Rails Girls</a>.
  </p>
</div>
