<style type='text/css'>
#faq h2 {
  font-weight: normal;
}
</style>

<div id='faq'>
  <h2 class='text-center'>Pytania i odpowiedzi</h2>

  <h3>Czym są zajęcia RubyCamp Gliwice?</h3>
  <p class='text-justify'>
    RubyCamp to nowa forma zajęć z programowania.
    Kładziemy nacisk na umiejętności praktyczne i systematyczność.
    Doskonale wiemy, że programowanie trzeba ćwiczyć, aby dążyć do doskonałości.
    💪
    Proste problemy rozwiązujemy w prosty sposób.
    Dlatego wybraliśmy język programowania Ruby, który znamy i używamy na co dzień.
    W swojej składni Ruby przypomina język angielski przez co jest bardzo czytelny.
    Zapraszamy do intelektualnej siłowni dla przyszłych programistów!
  </p>

  <h3>Co oznacza nazwa RubyCamp?</h3>
  <p class='text-justify'>
    Nazwa RubyCamp to zlepek dwóch słów: Ruby i Camp.
    Ruby to obiektowy język programowania.
    Camp z angielskiego oznacza "obóz", czyli w tym przypadku letnie zajęcia.
    Chcemy aby nazwa nawiązywała do dyscypliny i chęci nauki.
    Nie będziemy wprawdzie rozkładać namiotów
    ⛺,
    ani rozpalać ogniska.
    🔥
    Ale uporządkowanie wiedzy wymagać będzie współpracy oraz zaangażowania całej grupy.
  </p>

  <h3>Kto organizuje RubyCamp?</h3>
  <p class='text-justify'>
    Firma Fractal Soft z siedzibami w <a href='{{site.url}}/news/2018/12/merry-christmas/#miasto-gliwice'>Gliwicach</a> oraz w Cieszynie,
    buduje <a href='https://fractalsoft.org/pl'>aplikacje internetowe w Ruby on Rails</a>.
    Firma może niewielka, ale działają w niej ludzie o wielkich sercach.
    ❤️
    Od września 2014 roku regularnie wspierają i organizują zajęcia
    <a href='{% link pl/coderdojo/index.md %}'>{% include common/coderdojo--colorful-text.html %} w Gliwicach</a>.
    Dlatego programiści z Fractal Soft pod opieką
    {% include common/foreign-link.html
       name='Fundacji CoderDojo Polska'
       url='https://coderdojo.org.pl/'
    %}
    na prośbę uczestników CoderDojo wpadli na pomysł,
    aby zorganizować nową, eksperymentalną formę zajęć.
  </p>

  <h3>W jakich terminach planowane są programistyczne zajęcia RubyCamp?</h3>
  <p class='text-justify'>
    RubyCamp ma być intensywnym wprowadzeniem do programowania w Ruby.
    Dlatego proponujemy 3 różne turnusy.
    Pojedynczy turnus składa się z 4 dni (od wtorku do piątku).
    W każdy dzień spotykamy się od 10:00 do 13:00.
    ⏰
    Uwzględniliśmy fakt, że każdy w wakcje chce się trochę wyspać.
    🛌
  </p>
  <p>
    Proponowane terminy turnusów:
    <ul>
      <li><strike>25-28 czerwca 2019</strike> WSZYSTKIE MIEJSCA ZAJĘTE</li>
      <li><strike>02-05 lipca 2019</strike> WSZYSTKIE MIEJSCA ZAJĘTE</li>
      <li>09-12 lipca 2019</li>
    </ul>
  </p>

  <h3>Gdzie dokładnie będzie odbywać się RubyCamp?</h3>
  <p class='text-justify'>
    Zajęcia odbywać się będą pod adresem:
    <address>
      Filia GCOP (Gliwickie Centrum Organizacji Pozarządowych)<br>
      Centrum Wolontariatu<br>
      ul. Zwycięstwa 1/1<br>
      44-100 Gliwice
    </address>
  </p>

  <h3>Jak przygotować się na zajęcia?</h3>
  <p class='text-justify'>
    Trzeba przynieść ze sobą <strong>swój laptop</strong>.
    💻
    Letnie zajęcia z programowania odbywają się w formule BYOD (Bring Your Own Device).
    Chcemy, aby każdy pracował na własnym sprzęcie.
    Dzięki temu uczestnicy mogą rozwijać swoje zainteresowania również w domu.
    Ważne jest, aby dziecko mogło samodzielnie instalować potrzebne oprogramowanie.
    Proszę więc sprawdzić, czy dziecko ma odpowiednie uprawnienia.
  </p>

  <h3>Ile to kosztuje? 💰</h3>
  <p class='text-justify'>
    Letnie zajęcia z programowania dla dzieci i młodzieży, czyli RubyCamp, organizujemy po raz pierwszy.
    Ale nie martwcie się, mamy doświadczenie w tym co robimy.
    Wcześniej regularnie organizowaliśmy sobotnie zajęcia <em>CoderDojo w Gliwicach</em>.
    Podobnie jak sobotnie CoderDojo również te <strong>zajęcia są za darmo</strong>!
    Nie oznacza to wcale, że zajęcia RubyCamp nic nie kosztują.
    Dla mentora głównym kosztem jest jego czas
    oraz wysiłek przygotowania zajęć i ich prowadzeniu.
    Kosztem dla uczestników jest systematyczne uczestnictwo i skupienie na nauce programowania.
    Dlatego pomóżcie nam rozpromować <strong>RubyCamp w Gliwicach</strong> wśród rodziny i znajomych.
  </p>
  <div class='text-center'>
    {% include common/share-button--facebook.html
       body='Udostępnij na Facebooku'
       title='Podziel się ze znajomymi!'
    %}

    {% include common/share-button--twitter.html
       body='Udostępnij na Twitterze'
       title='Tweetnij o nas!'
    %}
  </div>

  <h3>Co możecie zrobić dla nas? 🙏</h3>
  <p class='text-justify'>
    Jesteśmy skromni, ale bez przesady.
    🤓
    Chcemy dzielić się swoją wiedzą.
    Jeśli lubicie takie inicjatywy jak <strong>RubyCamp dla dzieci i młodzieży</strong>
    to zapraszamy do śledzenia tego bloga.
    Piszemy na nim o różnych inicjatywach związanych z nauką programowania
    dla dzieci małych i dużych.
    Ponadto, jeśli jeszcze tego nie zrobiliście, możecie polubić
    👍
    naszą stronę na Facebooku (fanpage)
    {% include common/foreign-link.html
               name='www.facebook.com/fractalsoft'
               url='https://www.facebook.com/fractalsoft?fref=rubycamp'
    %}
  </p>
</div>
