<style type='text/css'>
.jumbotron {
  background-color: #e3e3e3;
  background: radial-gradient(#e3e3e3, #fff);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron h1 {
  font-weight: normal;
}

.indistinctive-link {
  color: #010160;
  text-decoration: none;
}
</style>

<div class='jumbotron'>
  <h1 class='text-center'>
    <strong>RubyCamp</strong> - wakacyjne <strong>programowanie w Ruby</strong>
  </h1>
  <p class='text-justify'>
    Zbliżają się wakacje.
    ☀️
    Uczniowie mają coraz więcej wolnego czasu.
    Warto pożytecznie go wykorzystać.
    Po co siedzieć samemu w domu?
    🏠
    Lepiej nauczyć się czegoś nowego pod okiem
    <a href='https://fractalsoft.org/pl/zespol/torrocus' class='indistinctive-link'>zawodowego programisty</a>.
    Technologie oraz programowanie to przyszłość!
    Nie prześpij swojego życia.
    😴
    💤
  </p>
  <p class='text-justify'>
    Zapraszamy dzieci oraz młodzież na <em>programistyczne półkolonie</em>.
    🏕️
    Zajęcia są darmowe i odbywają się w Gliwicach.
  </p>
  <p class='text-center'>
    <a href='#faq' class='btn btn--info btn--large'>
      Dowiedz się więcej o półkoloniach z Ruby
      💎
    </a>
  </p>
</div>
