{% if page.layout == 'single' %}
  {% assign posts=site.posts | where: 'locale-ref', page.locale-ref | sort: 'locale' %}
  {% if posts.size == 0 %}
    {% assign posts=site.pages | where: 'locale-ref', page.locale-ref | sort: 'locale' %}
  {% endif %}
  {% if posts.size > 1 %}
    <ul class='languages visible-links'>
    {% for post in posts %}
      {% if post == page %}{% continue %}{% endif %}
      <li class='masthead__menu-item'>
        <a href='{{ site.base-url }}{{ post.url }}' class='{{ post.locale }}'>
          {{ site.data.languages[post.locale].icon }}
          {{ site.data.languages[post.locale].label }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
