<address itemscope itemtype="http://schema.org/Organization">
<span itemprop="name">Gliwickie Centrum Organizacji Pozarządowych</span>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">ul. Zwycięstwa 1/1</span><br>
  <span itemprop="postalCode">44-100</span>
  <span itemprop="addressLocality">Gliwice</span>
</div>
</address>

<p>Trzeba wejść na II piętro, skręcić w prawo i iść wzdłuż korytarza.</p>

<a href="https://www.openstreetmap.org/export/embed.html?bbox=18.66485953330994,50.29358045382893%2C18.6684000492096,50.295119187873674&layer=mapnik&marker=50.29435,18.66663" rel='nofollow noopener noreferrer' target='_blank' title='Kliknij aby zobaczyć pełną mapę'>
  <img alt='Mapa dojazdu do GCOP (Gliwice, ul. Zwycięstwa 1)'
       class='lazy'
       data-src='/assets/places/gliwice-gcop-mapa.jpg'
       src='/assets/places/low-quality/gliwice-gcop-mapa.jpg'
       style='border: solid 1px #000'>
</a>
