{: .text-justify}
Mamy nadzieję, że podobają Wam się tematy.
Nie bójcie się wyrażać swoich opinii w komentarzach.
Jeżeli macie jakieś propozycje tematów to również napiszcie.
Chcemy aby CoderDojo w Gliwicach było najlepszym dojo w Polsce.

## Informacje organizacyjne

{: .text-justify}
Jeśli macie jakieś pytania organizacyjne to przeczytajcie proszę dział [FAQ - często zadawane pytania]({{site.url}}/pl/coderdojo/faq/).

### Czas zajęć ⏰
_{{include.date}} (sobota) od 09:00 do 12:00_

### Miejsce zajęć 🏢
{% include common/coderdojo--workshops-place.html %}
