<address itemscope itemtype="http://schema.org/Organization">
<span itemprop="name">Technopark Gliwice</span>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">ul. Konarskiego 18C</span><br>
  <span itemprop="postalCode">44-100</span>
  <span itemprop="addressLocality">Gliwice</span>
</div>
</address>

<a href="https://www.openstreetmap.org/export/embed.html?bbox=18.68098765611649,50.29078730163252,18.684528172016147,50.29237410637014&layer=mapnik&marker=50.29158071061608,18.682757914066315" rel='nofollow noopener noreferrer' target='_blank' title='Kliknij aby zobaczyć pełną mapę'>
  <img alt='Mapa dojazdu do Technoparku' class='lazy' data-src='/assets/places/gliwice-technopark-mapa.jpg' src='/assets/places/low-quality/gliwice-technopark-mapa.jpg' style='border: solid 1px #000'>
</a>
