{: .text-justify}
Podobają Wam się nasze programistyczne plany?
Mamy nadzieję, że tak.
Nie bójcie się wyrażać swoich opinii zarówno poniżej w komentarzach jak i w social mediach.
Jeżeli macie własne propozycje tematów to również piszcie.
Chcemy aby CoderDojo w Gliwicach było najlepszym dojo w Polsce.

## Informacje organizacyjne

{: .text-justify}
Jeśli macie jakieś pytania organizacyjne to przeczytajcie proszę dział [FAQ - często zadawane pytania]({{site.url}}/pl/coderdojo/faq/).

### Czas zajęć ⏰
_{{include.date}} (sobota) od 09:00 do 12:00_

### Miejsce zajęć 🏢
{% include common/coderdojo--workshops-place.html %}
